.brand-c-button {
  margin-right: 20px;
  background: var(--vp-c-brand);
  border-radius: 5px;
  line-height: 30px;
  padding: 10px;
}

.medium-zoom-overlay {
  z-index: 20;
}

.medium-zoom-image {
  z-index: 21;
}
